h1 { color: blue;
font-size: 5em;
font-weight: 700;
font-family: 'Impact', sans-serif;
}

h2 { color: black;
font-size: 2em;
font-weight: 700;
font-family: 'Impact', sans-serif;
}

h3 { color: black;
font-size: 1em;
font-weight: 400;
font-family: 'Helvetica', sans-serif;
text-decoration: underline;
}

p {
	color: blue;
	font-size: 0.5em;
	font-weight: 400;
	font-family: 'Helvetica', sans-serif;
}

img {
	color: black;
	font-size: 0.5em;
	font-family: 'Helvetica', sans-serif;
}